---
import BaseHead from "../components/BaseHead.astro";
import "../styles/homepage.scss";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="Home" description="Home Page" />
  </head>
  <body>
    <main>
      <section class="container contact" id="contact">
        <div class="contact-container">
          <div class="main-title">
            <h2>Vishruthaa</h2>
          </div>
          <div class="contact-content-con">
            <div class="left-contact">
              <p>
                You can also be a part of the Speak Your Mind/Pseudo Poets
                Society by contributing your work.
              </p>

              <div class="contact-icons">
                <div class="contact-icon">
                  <a href="www.facebook.com" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#" target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                  <a href="#" target="_blank">
                    <i class="fab fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="right-contact">
          <div class="grid-one">
            <div class="card">
              <div class="circle"></div>
              <div class="content">
                <h2><a href="#">Speak Your Mind</a></h2>
              </div>
              <a href="#"><img src="/images/sym.jpg" alt="Blog" /></a>
            </div>
            <div class="card">
              <div class="circle"></div>
              <div class="content">
                <h2><a href="#">Pseudo Poets Society</a></h2>
              </div>
              <a href="#"><img src="/images/pps.jpg" alt="Blog" /></a>
            </div>
          </div>
          <div class="grid-two">
            <div class="card">
              <div class="circle"></div>
              <div class="content">
                <h2><a href="#">Renaissance</a></h2>
              </div>
              <a href="#"><img src="/images/soon.jpg" alt="Blog" /></a>
            </div>
            <div class="card">
              <div class="circle"></div>
              <div class="content">
                <h2><a href="#">Podcast</a></h2>
              </div>
              <a href="#"><img src="/images/soon.jpg" alt="Blog" /></a>
            </div>
            <div class="card">
              <div class="circle"></div>
              <div class="content">
                <h2><a href="#">Music</a></h2>
              </div>
              <a href="#"><img src="/images/soon.jpg" alt="Blog" /></a>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
