---
import dayjs from "dayjs";
import BaseHead from "../components/BaseHead.astro";
import Contribute from "../components/Contribute.astro";
import Header from "../components/Header.astro";

const posts = await Astro.glob("../pages/blogs/*.md");

posts.sort((a, b) => dayjs(b.frontmatter.date) - dayjs(a.frontmatter.date));

const groupedPosts = posts.reduce((acc, post) => {
  const year = dayjs(post.frontmatter.date).year();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const groupedPostArray = Object.entries(groupedPosts).map(([year, posts]) => {
  return { year, posts };
});

groupedPostArray.sort((a, b) => b.year - a.year);
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <BaseHead title="Speak Your Mind" description="Speak Your Mind Home Page" />
  </head>

  <body class="dark:bg-neutral-900">
    <Header />
    <main class="max-w-3xl mx-auto my-20">
      <div
        class="flex flex-col divide-y dark:divide-neutral-800 divide-neutral-200 border-t border-b dark:border-neutral-800 border-neutral-300"
      >
        {
          groupedPostArray.map((group) => (
            <div class="flex">
              <h2 class="text-sm text-neutral-400 dark:text-neutral-500 py-3">
                {group.year}
              </h2>
              <div class="ml-36 flex flex-col w-full divide-y dark:divide-neutral-800 divide-neutral-300">
                {group.posts.map((post) => (
                  <a
                    href={post.url}
                    class="dark:text-neutral-300 text-neutral-800 font-medium py-3 flex flex-row justify-between hover:bg-neutral-50 dark:hover:bg-transparent dark:hover:opacity-60"
                  >
                    <span> {post.frontmatter.title} </span>
                    <span class="text-neutral-400 dark:text-neutral-500 text-sm">
                      {" "}
                      {dayjs(post.frontmatter.date).format("DD/MM")}{" "}
                    </span>
                  </a>
                ))}
              </div>
            </div>
          ))
        }
      </div>
      <div class="mt-14">
        <Contribute />
      </div>
    </main>
  </body>
</html>
