<div class="p-4 dark:text-neutral-200 text-neutral-800 border border-neutral-800 dark:border-neutral-700 text-center not-prose mt-20">
  Wanna contribute? Leave a
  <a href="/contact" class="text-blue-700 hover:text-blue-500 dark:text-blue-300 dark:hover:text-blue-400 underline italic">message</a>.
</div>
