---
---

<div class="row-one">
  <i>
    Wanna contribute? Leave a 
    <a href="/contact.html">message</a>.
  </i>
</div>

<style>
  .row-one {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-right: 20%;
    width: 50em;
    justify-content: space-between;
    padding-left: 10px;
  }
  
  a {
    color: #000;
    transition: 1s;
    text-decoration: underline;
  }

  a:hover {
    font-weight: 900;
  }
</style>
