---
import ThemeSwitcher from "./ThemeSwitcher.astro";

const { title } = Astro.props;
---

<header class="dark:text-neutral-200 text-neutral-800 my-4 max-w-3xl mx-auto">
  <nav class="flex justify-between items-center">
    <ul class="flex gap-4 [&>*]:px-3 [&>*]:py-1 hover:[&>*]:bg-neutral-800 [&>*]:rounded">
      <li><a href="home">Home</a></li>
      <li><a href="sym">Speak Your Mind</a></li>
      <li><a href="pps">Pseudo-Poets Society</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
    <ThemeSwitcher />
  </nav>
</header>
