---
import BaseHead from "../components/BaseHead.astro";
import Contribute from "../components/Contribute.astro";
import Header from "../components/Header.astro";

export interface Props {
  frontmatter: {
    title: string;
    description: string;
  };
}

const { frontmatter } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead
      title={frontmatter.title}
      description={frontmatter.description || frontmatter.title}
    />
  </head>
  <body class="dark:bg-neutral-900 px-4 md:px-0">
    <Header />
    <div class="max-w-3xl mx-auto mt-12 sm:mt-20 mb-10">
      <article
        class="prose sm:prose-lg prose-neutral max-w-3xl dark:prose-invert mx-auto border-b pb-10 border-neutral-500"
      >
        <h1
          class="text-3xl sm:text-4xl leading-tight mb-10 pb-10 border-b border-neutral-500"
        >
          {frontmatter.title}
        </h1>
        <slot class="" />
      </article>
      <Contribute />
    </div>
  </body>
</html>
